body {
  background: linear-gradient(45deg, #fc466b, #3f5efb);
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}
p,
input {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1.4rem;
}
img {
  border: none;
}
input {
  background: transparent;
  width: auto;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
