<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title> News article Sorting</title>
</head>
<link rel="stylesheet" href="static/style.css">

<body align="center">
    <h3 class="text">News Articles Sorting</h3>
    <form action="/submit" method="POST">
        <h3></h3>
        <textarea name="article" cols="93" rows="23" placeholder="Write your News here.."
            required></textarea><br><br><br><br>
        <input type="submit" class="submit" value="Get Analysis">
    </form>
</body>

</html>