<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Error</h1>
        <p>An error occurred: {{ error_message }}</p>
        <a href="{{ url_for('index') }}">Back to Home</a>
    </div>
</body>

</html>
