# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating System files
.DS_Store
Thumbs.db

# Large datasets or local models (Optional - use if you want to keep data local)
# data/
# *.tflite

# IDE Specific
.vscode/
.idea/
